{% extends 'parent.html.twig' %}

{% block content %}
    <div class="col">
        <h2>ajout de produit</h2>
        {{ form_start(form, { attr : { novalidate: 'novalidate'}}) }}
        {{ form_label(form.name, 'nom') }}
        {{ form_widget(form.name, { attr : { placeholder: 'Saisissez un nom'}}) }}
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, { attr : { placeholder: 'Saisissez une description'}}) }}
        {{ form_label(form.image, 'image') }}
        {{ form_widget(form.image) }}
        {{ form_label(form.category, 'Catégories') }}
        {{ form_widget(form.category) }}
        <input type="submit" value="Valider" class="btn btn-primary">
        {{ form_end(form) }}
    </div>
{% endblock %}